<div *ngIf="showAddUser; else elseBlock">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label i18n="@@username" for="username">User Name</label>
        <input
          type="text"
          class="form-control"
          id="username"
          required
          [(ngModel)]="user.username"
          name="username"
        />
      </div>

      <div class="form-group">
        <label i18n="@@firstname" for="title">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstname"
          required
          [(ngModel)]="user.firstname"
          name="firstname"
        />
      </div>

      <div class="form-group">
        <label i18n="@@lastname" for="title">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastname"
          required
          [(ngModel)]="user.lastname"
          name="lastname"
        />
      </div>

      <div class="form-group">
        <label i18n="@@titre" for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="user.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label i18n="@@description" for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="user.description"
          name="description"
        />
      </div>

      <div class="form-group">
        <label i18n="@@organization-name" for="org">Organization Name</label>
          <select class="form-control" id="organization" [(ngModel)]="user.organization" name="organization">
            <option *ngFor="let orgs of org; let i = index" [value]="org[i].id">
             {{org[i].orgname}}
            </option>
          </select>
      </div>

      <button i18n="@@submit" (click)="saveUser()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4 i18n="@@user-added">User was added successfully!</h4>
      <button i18n="@@add" class="btn btn-success" (click)="newUser()">Add</button>
    </div>
  </div>
</div>
<ng-template #elseBlock>Login as admin first</ng-template>
