<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input i18n-placeholder="@@search-organizations"
        type="text"
        class="form-control"
        placeholder="Search by organization name"
        [(ngModel)]="orgname"
      />
      <div class="input-group-append">
        <button i18n="@@search"
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchOrgname()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 i18n="@@organization-list">Organization List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let org of org; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveOrg(org, i)"
      >
        {{ org.orgname }}
      </li>
    </ul>

    <button i18n="@@remove-all-organizations" *ngIf="showEdit" class="m-3 btn btn-sm btn-danger" (click)="removeAllOrgs()">
      Remove All Organizations
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentOrg">
      <h4 i18n="@@organization">Organization</h4>
      <div>
        <strong><label i18n="@@organization-acronym">Organization Id:</label></strong> {{ currentOrg.orgid }}
      </div>
      <div>
        <strong><label i18n="@@organization-name">Organization Name:</label></strong> {{ currentOrg.orgname }}
      </div>
      <div>
        <strong><label i18n="@@description">Description:</label></strong>
        {{ currentOrg.description }}
      </div>

      <a *ngIf="showEdit" class="badge badge-warning" routerLink="/orgs/{{ currentOrg.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentOrg">
      <br />
      <p i18n="@@select-organization">Please click on an organization...</p>
    </div>
  </div>
</div>
