.file-input {
  display: none;
}

.file-upload {
float: right;
display: flex;
  align-items: flex-end;
}

.upload-btn {
  margin-right: 80px;
  margin-bottom:15px;
}

.progress-bar {
  margin-bottom: 10px;
}

.duration-cell mat-icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}
