<div>
  <div *ngIf="currentOrg.id" class="edit-form">
    <h4 i18n="@@organization">Organization</h4>
    <form>
      <div class="form-group">
        <label i18n="@@organization-acronym" for="orgid">Organization Acronym</label>
        <input
          type="text"
          class="form-control"
          id="orgid"
          [(ngModel)]="currentOrg.orgid"
          name="orgid"
        />
      </div>
      <div class="form-group">
        <label i18n="@@organization-name" for="orgname">Organization Name</label>
        <input
          type="text"
          class="form-control"
          id="orgname"
          [(ngModel)]="currentOrg.orgname"
          name="orgname"
        />
      </div>
      <div class="form-group">
        <label i18n="@@description" for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentOrg.description"
          name="description"
        />
      </div>
    </form>

    <button i18n="@@delete" class="badge badge-danger mr-2" (click)="deleteOrg()">
      Delete
    </button>

    <button i18n="@@update" 
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateOrg()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentOrg.id">
    <br />
    <p i18n="@@unknown-organization" >Cannot access this Organization...</p>
  </div>
</div>
