<div id="app">
  <nav class="navbar navbar-expand navbar-white bg-white">
    <img src="/assets/infotrad-petit.jpg" alt="Info-TRAD" class="navbar-brand" />
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a i18n="@@home" href="/users" class="nav-link" routerLink="users">Home </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a i18n="@@home" href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a i18n="@@admin_screen" href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a i18n="@@moderator_screen" href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a i18n="@@signup" href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a i18n="@@login" href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a i18n="@@profile" href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a i18n="@@logout" href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
    <ng-container>
        <mat-icon>language</mat-icon>
        <button mat-button [matMenuTriggerFor]="menu">
            {{siteLanguage}}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item href="/en">English</a>
            <a mat-menu-item href="/fr">Français</a>
        </mat-menu>
    </ng-container>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
