<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input i18n-placeholder="@@search-users"
        type="text"
        class="form-control"
        placeholder="Search by username"
        [(ngModel)]="username"
      />
      <div class="input-group-append">
        <button i18n="@@search"
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchUsername()"
        >
Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 i18n="@@user-list">User List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let user of user; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveUser(user, i)"
      >
        {{ user.username }}
      </li>
    </ul>

    <button i18n="@@remove-all-users" *ngIf="showEdit" class="m-3 btn btn-sm btn-danger" (click)="removeAllUsers()">
      Remove All Users
    </button>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentUser">
      <h4 i18n-placeholder="@@user">User</h4>
      <div>
        <strong><label i18n="@@username">User Name:</label></strong> {{ currentUser.username }}
      </div>
      <div>
        <strong><label i18n="@@firstname">First Name:</label></strong> {{ currentUser.firstname }}
      </div>
      <div>
        <strong><label i18n="@@lastname">Last Name:</label></strong> {{ currentUser.lastname }}
      </div>
      <div>
        <strong><label i18n="@@title">Title:</label></strong> {{ currentUser.title }}
      </div>
      <div>
        <strong><label i18n="@@description">Description:</label></strong>
        {{ currentUser.description }}
      </div>
      <div *ngIf="currentUser.organization">
        <strong><label i18n="@@organization-db-id">Organization DB ID:</label></strong>
        {{ currentUser.organization}}
        <strong><label i18n="@@organization">Organization:</label></strong>
        {{ selectedOrg?.orgid }}
      </div>

      <a i18n="@@edit" *ngIf="currentUser.username == appusername || showEdit" class="badge badge-warning" routerLink="/users/{{ currentUser.id }}">
        Edit
      </a>

    <div *ngIf="!currentUser">
      <br />
      <p i18n="@@select-user">Click on a user for details</p>
    </div>
  </div>
</div>
